.jumbotron{
    background-color: rgb(137, 216, 105);
    color: black;
    text-align:center;
    }
    footer{
        padding: 10px 10px 0 10px;
        background-color: rgb(137, 216, 105);
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .stylo{
        flex: 1 150px; 
        padding: 2px 5px 2px 5px;
        margin-top: 10px;
    }
    .btn-reserva{
        width: 100%;
        
    }